/* INDEX QUOTE SECTION */
.index-quote {
  background: #7ABE80 !important;
  padding: 2em !important;
}

.index-quote-text {
  line-height: 1.1;
  font-size: 160%;
}

.img-service {
  position: absolute;
  width: 100% !important;
  height: 50% !important;
}

.index-notice {
  background: #fff !important;
  padding: 1em !important;
  margin-top: -1em !important;
  color: black !important;
}

.notice-exclamation {
  color: #FFC84A;
}

.notice-text {
  color: #53585F !important;
  text-align: justify !important;
  font-size: 15px;
  line-height: 1.5;
}

/* YOUNG LIVING OPPORTUNITIES */

.index-title {
  color: black !important;
  font-size: 2em;
}

.index-sections {
  padding-top: 0.5em !important;
}

.seasonal-div:hover {
  cursor: pointer;
  opacity: 0.8 !important;
  transition-duration: 0.3s;
}

.wrap .img {
  opacity: 1;
  height: 230px !important;
}

.wrap .text p {
  text-align: justify !important;
}

.wrap .text .btn {
  height: 20px;
  background-color: #7ABE80 !important;
  border: 0 !important;
  text-align: center;
  padding: 0.9em !important;
  line-height: 0 !important;
}

/*---------------*/
/***** Lily *****/
/*---------------*/

.no-link {
  text-decoration: none !important;
  color: white !important;
}

.grid-index {
	position: relative;
	margin: 0 auto !important;
	width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid-index figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 1%;
  width: 260px !important;
	height: 220px !important;
	background: black;
	text-align: center;
}

.grid-index figure img {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}

.grid-index figure figcaption {
	padding: 2em;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid-index figure figcaption::before,
.grid-index figure figcaption::after {
	pointer-events: none;
}

.grid-index figure figcaption,
.grid-index figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid-index figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid-index figure h2 {
	word-spacing: 0.15em;
	font-weight: 300;
  color: white !important;
  font-size: 1em;
}

.grid-index figure h2 span {
	font-weight: 800;
}

.grid-index figure h2,
.grid-index figure p {
	margin: 0;
}

.grid-index figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 4em;
	left: 0;
	padding: 0 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: white !important;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/* MODAL */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #f8f9fa;
  margin: auto;
  padding: 20px;
  border: 0px;
  width: 80%;
  overflow: hidden;
  height: 85%;
  color: #53585F !important;
  text-align: justify !important;
  font-size: 16px;
  line-height: 1.5;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 35px;
  margin-right: 0.2em;
  font-weight: bold;
  transition: color 0.10s ease-in-out;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Image */
.div-image {
  max-height: 450px;
  /* padding-bottom: 1em; */
}

.modal-image {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* Text */
@media (max-width: 1200px) {
  .modal-content .row {
    overflow: scroll;
  }
}

@media (min-width: 1200px) {
  .div-text {
    /* background-color: #c0e1ec; */
    max-height: 450px;
    padding-right: 1.5em;
  }

  .modal-text {
    overflow: scroll;
    height: 100%;
    margin: auto;
    text-align: justify;
    /* background-color: #c9ecc0; */
  }
}
