/* INDEX QUOTE SECTION */
.index-quote {
  background: #7ABE80 !important;
  padding: 2em !important;
}

.index-quote-text {
  line-height: 1.1;
  font-size: 160%;
}

.img-service {
  position: absolute;
  width: 100% !important;
  height: 50% !important;
}

.index-notice {
  background: #fff !important;
  padding: 1em !important;
  margin-top: -1em !important;
  color: black !important;
}

.notice-exclamation {
  color: #FFC84A;
}

.notice-text {
  color: #53585F !important;
  text-align: justify !important;
  font-size: 15px;
  line-height: 1.5;
}

/* YOUNG LIVING OPPORTUNITIES */

.index-title {
  color: black !important;
  font-size: 2em;
}

.index-sections {
  padding-top: 0.5em !important;
}

.seasonal-div:hover {
  /* background: black; */
  cursor: pointer;
  opacity: 0.8 !important;
  transition-duration: 0.3s;
  /* background: #C33764; */
  /* background: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(201, 201, 204, 0.8));
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(201, 201, 204, 0.8)); */
  /* background: -webkit-linear-gradient(rgba(122, 190, 128, 0.8), rgba(22, 142, 95, 0.8));
  background: linear-gradient(rgba(122, 190, 128, 0.8), rgba(22, 142, 95, 0.8)); */
}

.wrap .img {
  opacity: 1;
  height: 230px !important;
  /* border: 0.5px solid #021a40; */
}

/*---------------*/
/***** Lily *****/
/*---------------*/

.no-link {
  text-decoration: none !important;
  color: white !important;
}

.grid-index {
	position: relative;
	margin: 0 auto !important;
	width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid-index figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 1%;
  width: 260px !important;
	height: 220px !important;
	background: black;
	text-align: center;
	cursor: pointer;
}

.grid-index figure img {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}

.grid-index figure figcaption {
	padding: 2em;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid-index figure figcaption::before,
.grid-index figure figcaption::after {
	pointer-events: none;
}

.grid-index figure figcaption,
.grid-index figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid-index figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid-index figure h2 {
	word-spacing: 0.15em;
	font-weight: 300;
  color: white !important;
  font-size: 1em;
}

.grid-index figure h2 span {
	font-weight: 800;
}

.grid-index figure h2,
.grid-index figure p {
	margin: 0;
}

.grid-index figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 4em;
	left: 0;
	padding: 0 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: white !important;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}






/* POP UP */

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  transform: rotate(32deg);
  transition: .64s ease-in-out;
}
.popupphoto {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.popupphoto img {
  width: auto;
  height: 100%;
}
.popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popuptext h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}
.popuptext p {
  font-size: .875rem;
  color: #686868;
  line-height: 1.5;
}

.popuptext a {
	text-decoration: none;
	color:  #47BDFF;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.closepopup {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: .875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #47BDFF;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
